# --- 在 ks 文件顶部定义包含 ---
%include /tmp/part-include

# centos8-stream
# initrd.img inst.ks=https://gitee.com/xiagw/deploy.sh/raw/main/docs/pxe/centos8-stream-ks.cfg
# version=RHEL8
# Use graphical install
graphical

repo --name="AppStream" --baseurl=https://mirrors.ustc.edu.cn/centos-vault/8-stream/AppStream/x86_64/os

%packages
@^minimal-environment
%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
#network  --hostname=devops.flyh5.cn

# Use network installation
url --url="https://mirrors.ustc.edu.cn/centos-vault/8-stream/BaseOS/x86_64/os"

# Run the Setup Agent on first boot
firstboot --disable

## qemu/kvm use /dev/vda
## physical machine and VMware use /dev/sda
# 告诉安装程序只看符合条件的第一个磁盘
# ignoredisk --only-use=sda,vda
# Partition clearing information 清理所有分区信息并自动分区
# clearpart --all --initlabel --drives=vda
# clearpart --all --initlabel --drives=sda|vda
# clearpart --all --initlabel --drives=vd*|sd*|nvme*
# clearpart --all --initlabel
# autopart --nohome --type=lvm

# System timezone
timezone Asia/Shanghai --isUtc --nontp

# Root password
# generate password:  openssl passwd -6
#rootpw --plaintext "123456"
rootpw --iscrypted $6$mHCclxWSOJkOFgsB$9mf9tW/XVFN8qtRv0gmXLQ/q99WNjSg.6860hqi2T8aQzuYsIZcS3FIIVM1V5HormJEDcD5I/xQhS6v7KaUGS/
user --groups=wheel --name=ops --password=$6$PbrSVJPSm0jfyyCM$UxfX3i5fNA2o.Lz/3SzGTccqt4jInbcuMpQ97OcLjH/DrriTKgXx6UI2iKNB5WTsOMvlS49beGyPO0vONxier/ --iscrypted --gecos="ops"

%addon
com_redhat_kdump --disable --reserve-mb='auto'
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# --- 在文件末尾定义脚本 ---
# %pre
# 查找系统中第一个不是 USB 的磁盘
# BOOT_DRIVE=$(lsblk -ndno NAME | grep -v 'usb' | head -n1)
# 将分区指令写入临时文件
# echo "clearpart --all --initlabel --drives=${BOOT_DRIVE}" > /tmp/part-include
# echo "part / --fstype=xfs --onpart=${BOOT_DRIVE} --grow --size=1" >> /tmp/part-include
# %end

%pre
# 检测第一个非移动设备磁盘 (如 sda, vda, nvme0n1)
DIRTY_DISK=$(lsblk -dpno NAME | grep -v 'usb' | head -n1)
# 将 ignoredisk 指令写入包含文件，只允许安装程序看到这块盘
echo "ignoredisk --only-use=${DIRTY_DISK}" > /tmp/disk-choice
echo "clearpart --all --initlabel --drives=${DIRTY_DISK}" >> /tmp/disk-choice
echo "autopart --nohome --type=lvm" >> /tmp/disk-choice
%end